@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	}
html, body {
	height: 100%;
	}
/* CSS Document */

/* Global properties ======================================================== */

body{
	background-color:#e7e7e7;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.875em;
	color:#7f7f7f;
	line-height:1.188em;
	}
	
	h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.250em;
	color:#A7AAAD;
	line-height:1.250em;
	font-weight: bold;
	letter-spacing: 0em;
	}
	
	h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.5em;
	color:#ff6600;
	line-height:1.25em;
	font-weight: bold;
	text-align: right;
	margin-right: 30px;
	}
	h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.5em;
	color:#ff6600;
	line-height:1.25em;
	font-weight: bold;
	margin-right: 30px;
	}
#container {
	width: 945px;
	background-color: #FFFFFF;
	-moz-box-shadow: 0px 0px 5px 5px #cccccc;
	-webkit-box-shadow: 0px 0px 5px 5px#cccccc;
	box-shadow: 0px 0px 5px 5px #cccccc;
	behavior: url(js/PIE.htc);
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	}

.container{
	width:945px;
	height:350px;
}
* html #container {
	height: 100%;
	}
	
.header{
	width:100%;
	height: 220px;
}

#logo{
	width:350px;
	height: 103px;
	float: left;
	margin-left: 32px;
	margin-top: 40px;
	background: none;
	display:inline;
}

.slogan2{
	width: 213px;
	float: right;
	margin-top: 0px;
	margin-right: 10px;
	clear: right;
}
#container .header #SecondaryNav {
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}
#container #footer #footer_wrap {
	margin-left: 110px;
	float: left;
}
#container #pagedescription #right {
	float: right;
	width: 500px;
	margin-right: 32px;
	margin-left: 32px;
	clear: right;
}
#container #pagedescription #left {
	margin-left: 20px;
	float: left;
	clear: left;
	width: 350px;
	text-align: right;
}
#footer-part .footer-inner .footer-left a {
	font-weight: normal;
}
.SecNav {
	text-align: right;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.SecNavPhone {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #96979B;
}

#menucontainer{
	height: 35px;
	position:absolute;
	top: 185px;
	z-index: 600;
	display: inline;
	width: 945px;
	margin-left: -473px;
	left: 50%;
}

/*Test Footer */


#footer-part
{
	width:100%;
	height:140px;
}
.footer-inner
{
	width:935px;
	padding-top:0px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#footer-part #copyright {
	float: left;
	clear: left;
	width: 100%;
}
.footer-left ul
{
	list-style-type: none;	
}
.footer-middle
{
	float:left;
	width:550px;
	height: 100px;
}
.footer-left
{
	float:left;
	width:190px
}
.footer-right
{
	float:right;
	width:190px;
}
.footer-sep
{
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}
.footer-col1-menu
{
	float:right;
	margin-right:15px;
}
.footer-col2-menu
{
	float:right;
	margin-right:15px;
}
.footer-menu
{
	text-align: right;
}
.footer-menu ul li
{
	line-height:1.3em;
}
.footer-menu ul li a
{
	color:#999;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}

.footer-menu ul li a:hover
{
	color:#FF6600;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}

.footer-para
{
	color:#999;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:15px;
}


.footer-para a
{
	color:#999;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: none;
}


.footer-para1
{
	color:#666;
	font-size:12px;
	padding:5px 25px 0px 25px;
	text-align:center;
}
.copy-write
{
	text-align: center;
	font-size: 12px;
	color: #999;
}

	.price {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.375em;
	color:#FF6600;
	line-height:1.313em;
	text-align:right;
	margin-right: 30px;
	}
	
	.disclaimer {
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:1.064em;
	color:#FF6600;
	line-height:1.313em;
	text-align:right;
	margin-right: 30px;
	}

#menulogos{
height: 50px;
width: 236px;
}
#container table tr #autotracc {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #CCC;
}
#container table tr #fleettrac {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #CCC;
}
#container table tr #mototrac {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #CCC;
}



.banner{
	height: 350px;
	background-color:#FFFFFF;
	width: 100%;
}

.halfbanner{
height: 233px;
width: 100%;
background-color:#999999;
}




a:link {
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #a7a9ac;
	font-weight: bold;
}
a:visited {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size: 1.000em; color: #a7a9ac; font-weight: bold;}
a:active {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size: 1.000em; color: #a7a9ac; font-weight: bold;}
a:hover {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size: 1.000em; color: #ff6600; font-weight: bold;}

a.linkmenu:main {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:1.000em; color: #a7a9ac; font-weight: bold; }
a.linkmenu:visited {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:1.000em; color: #a7a9ac; font-weight: bold;}
a.linkmenu:active {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:1.000em; color: #a7a9ac; font-weight: bold;}
a.linkmenu:hover {text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size:1.000em; color: #ff6600; font-weight: bold;}

/* LINKS HOMEPAGE (PRODUCTS) =========================*/

a.link_logo:link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.25em;
	color:#a7a9ac;
	text-decoration:none;
	padding-left:25px;
}
a.link_logo:active{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.25em;
	color:#a7a9ac;
	text-decoration:none;
	padding-left:25px;
}
a.link_logo:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.25em;
	color:#a7a9ac;
	text-decoration:none;
	padding-left:25px;
}
a.link_logo:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.25em;
	color:#000000;
	text-decoration:none;
	padding-left:25px;
}


#textauto {color: purple;}
a.link_logo:hover #textauto {color: #000000;}

#textfleet {
	color: #75A532;
}
a.link_logo:hover #textfleet {color: #000000;}

#textmoto {color: #ff6600;}
a.link_logo:hover #textmoto {color: #000000;}

#textmarine {color: #00aeef;}
a.link_logo:hover #textmarine {color: #000000;}

#registered {font-size: 12px;}

#textguard {color:#FF6600;}

#textfaq {color: #ff6600;}
a.link_logo:hover #textmoto {color: #000000;}


/*=================PAGES BASIC STRUCTURE============================*/


#pagedescription{ 
  overflow:auto; 
  width: 100%;
  padding-top: 30px;
}

#pagedescription2{
	padding-top: 30px;
	padding-left: 64px;
	padding-bottom: 100px;  
}


/*===============FEATURES======================================*/

#features{
overflow: auto;
width: 100%;
vertical-align:text-bottom;
position:relative;
display:inline-block;

}

#right-features{
width: 330px;
float: right;
display:inline-block;
vertical-align:text-top;
position:relative;
margin-bottom: 50px;



}

#left-features{
	width: 158px;
	float: left;
	display:inline-block;
	vertical-align:text-top;
	position:relative;
	margin-bottom: 50px;

	
}

#dropdown-container{
width: 450px;
float: right;
}


.main #pagedescription #right p {
	text-align: justify;
}

.textboxes {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.875em;
	color:#7f7f7f;
	line-height:1.188em;
	padding-left: 10px;
	display: block;
	padding-top: 0px;
	padding-right: 20px;
	text-align: left;
	padding-bottom: 0px;
	}
.textboxes_orange {
	color:#F15B28;
}
.textboxes_purple {
	color:#800080;
}
.textboxes_green {
	color:#75A532;
}
.textboxes_blue {
	color:#00AEEF;
}
	
.featuresboxes {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.875em;
	color:#7f7f7f;
	line-height:1.438em;
	vertical-align: top;
	padding-left: 25px;
	}
	
.featuresorange {font-family:Arial, Helvetica, sans-serif;
	font-size:0.875em; 
	color:#ff6600; 
	line-height:1.438em;
	font-weight:bold;
	
	}
	
	.pdfboxes {padding-right: 20px;}
	
	.settingsbox
	{padding-top: 480px;
	display:inline;}

#schemelinkbox{
	background-image:url(../images/arrow.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 40px;

}

.textmiddle {vertical-align: middle;
padding-right: 5px;} 
#container table tr #autotracc .textboxes .textboxes_purple a {
	color: #800080;
	font-weight: bold;
}
#container table tr #fleettrac p .textboxes .textboxes_green a {
	font-weight: bold;
	color: #75A532;
}
#container table tr #mototrac p .textboxes .textboxes_orange a {
	font-weight: bold;
	color: #FA592D;
}
#container table tr #marinetrac p .textboxes .textboxes_blue a {
	font-weight: bold;
	color: #00AEEF;
}
