@charset "UTF-8";
/* CSS Document */





#mytable {
	width: 800px;
	padding: 0;
	margin: 0;
	
}

caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	text-align: right;
}

th {
	font: bold 11px  Verdana, Arial, Helvetica, sans-serif;
	color: #ff6600;
	border-right: 1px solid #818181;
	border-bottom: 1px solid #818181;
	border-top: 1px solid #818181;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #ffffff;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #818181;
	background: none;
}

td {
	border-right: 1px solid #818181;
	border-bottom: 1px solid #818181;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


td.alt {
	background: #eceaea;
	color: #797268;
}

th.spec {
	border-left: 1px solid #818181;
	border-top: 0;
	background: #fff ;
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
	border-left: 1px solid #818181;
	border-top: 0;
	background: #eceaea ;
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}