
RewriteEngine on

# These are the rewriting rules. 
#
# Quick Tutorial: Simply copy and paste the bottom line and 
# replace the text between the "^" and the "/?$" with the 
# desired new name of the page. See the following:
#
# RewriteRule ^new_name/?$   	actual_page_name
# 
# Hopefully this should get you started.
#
RewriteRule   ^autotrac/?$	autotrac.html
RewriteRule   ^fleettrac/?$     fleettrac.html
RewriteRule   ^mototrac/?$      mototrac.html
RewriteRule   ^marinetrac/?$    marinetrac.html
RewriteRule   ^faq/?$    	faq.html
RewriteRule   ^contact/?$    	contact.html
RewriteRule   ^home/?$    	index.html
RewriteRule   ^testimonials/?$ 	testimonials.html
RewriteRule   ^about/?$    	about.html
RewriteRule   ^plans/?$    	plans.html
RewriteRule   ^privacy/?$    	privacy.html
RewriteRule   ^helpcenter/?$    manual.html
RewriteRule   ^products/?$      products.html
RewriteRule   ^news/?$		news.html

<files .gitignore>
  order allow,deny
  deny from all
</files>
